* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter";
}

html {
    width: 1920px;
    overflow-x: hidden;
}

a {
    color: #000;
    text-decoration: none;
}

.container {
    display: block;

    width: 1200px;
    margin: 0 auto;
}

h1,h2,h3,h4,h5,h6,p {
    color: #fff;
    text-align: center;
}

body {
    background: rgb(226, 226, 226);
}

@font-face {
	font-family: 'Inter-Bold'; 
	src: local('Inter-Bold'),
		url(fonts/Inter-Bold.woff); 
}

@font-face {
	font-family: 'Inter-Italic'; 
	src: local('Inter-Bold'),
		url(fonts/Inter-BoldItalic.woff); 
}

@font-face {
	font-family: 'Inter-Italic'; 
	src: local('Inter-Bold'),
		url(fonts/Inter-LightItalic.woff); 
}

@font-face {
	font-family: 'Inter-Regular'; 
	src: local('Inter-Bold'),
		url(fonts/Inter-Regular.woff); 
}

@font-face {
	font-family: 'Inter-Medium'; 
	src: local('Inter-Bold'),
		url(fonts/Inter-Medium.woff); 
}

nav {
    display: flex;
    justify-content: space-between;
    width: 1920px;
    height: 128px;
    background-color: #E3E3E3;
}

.nav_logo {
    width: 146px;
    height: 86px;
    margin: 21px 100px;
}

.nav_bar {
    margin-top: 50px;
    font-size: 23px;
    font-family: "Inter-Regular";
    color: #333333;
}

.nav_links {
    margin-right: 35px;
    
    font-family: "Inter-Regular";
}

.nav_numbers {
    margin-top: 28px;
}

.nav_number {
    margin-right: 100px;
    font-size: 28px;
    font-weight: 500;
    font-family: "Inter-Regular";
    color: #333333;
}

.nav_number_one {
    margin-top: 11px;
    margin-right: 100px;
    font-size: 23px;
    font-style: italic;
    font-weight: lighter;
    font-family: "Inter-Italic";
    color: #333333;
}

.main {
    width: 1920px;
    height: 655px;
    background-image: url(img/unsplash_xOigCUcFdA8.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.main_color {
    width: 1920px;
    height: 655px;
    background-color: rgba(0, 0, 0, 0.5);
    
}

.main_text {
    opacity: 1;
    color: #EFEFEF;
  
}

.main_title {
    font-family: "Inter-Regular";
    padding-top: 123px;
    padding-bottom: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 96px;
    color: #efefef;
}

.main_categories {
    position: static;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    border-radius: 20px;
    width: 623px;
    height: 74px;
    backdrop-filter: blur(5px);
    background: rgba(193, 193, 193, 0.15);
}

.main_category {
    
    margin: 22px 9px;
    font-family: "Inter-Regular";
    font-weight: 200;
    font-size: 25px;
    color: #fff;
}

.main_choice {
    margin-top: 15px;
    padding: 0 18px;
    display: flex;
    justify-content: space-between;
    margin: 15px 307px;
    border-radius: 20px;
    width: 1306px;
    height: 95px;
    backdrop-filter: blur(5px);
    background: rgba(193, 193, 193, 0.15);
    
}

.main_search {
    width: 30%;
    display: flex;
    justify-content: space-between;
    margin-top: 33px;
    color: rgb(255, 255, 255);
font-family: "Inter-Regular";
font-size: 19px;
font-weight: 400;
line-height: 23px;
}

.main_calendar {
    width: 30%;
    display: flex;
    justify-content: space-between;
    margin-top: 33px;
    font-family: "Inter-Regular";
font-size: 19px;
font-weight: 400;
line-height: 23px;
}

.main_quantity {
    width: 30%;
    display: flex;
    justify-content: space-between;
    margin-top: 33px;
    font-family: "Inter-Regular";
font-size: 19px;
font-weight: 400;
line-height: 23px;
}

.main_quantity p {
    font-family: "Inter-Regular";
}

.main_img {
    width: 29px;
    height: 29px;

}


.main_input {
    margin: 0 200px 0 25px;
    width: 151px;
    height: 23px;
    background: transparent;
    border: none;
    font-family: "Inter-Regular";
    font-size: 19px;
    font-weight: 400;
    line-height: 23px;
    color: #efefef;
}

.main_input:focus {
    color: #EFEFEF;
    outline: none;
}


.main_line {
    border: 1px solid rgba(215, 215, 215, 0.3);
    backdrop-filter: blur(20px);
height: 46;
}

.main_counters {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.main_counter {
   color: rgba(255, 255, 255, 0.3);;
    width: 25px;
height: 25px;
text-align: center;
border-radius: 4px;
backdrop-filter: blur(3px);
background: rgba(255, 255, 255, 0.3);
}

.main_btn {
    margin: 0 829px;
    position: absolute;
width: 262px;
height: 66px;
    border-radius: 20px;
background: rgba(92, 92, 92, 0.7);
text-align: center;
padding: 18px 0;
color: rgb(255, 255, 255);
font-family: "Inter-Regular";
    font-weight: 200;
    font-size: 25px;
}

.main_btn:hover {
    background: rgba(192, 192, 192, 0.7);
    transition: all 0.3s;
}

footer {
    background-color: #d1d5db;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1719px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-section {
    padding-bottom: 200px;
    text-align: left;
}

.footer-section h3 {
    
    margin: 0 0 10px;
    color: rgb(51, 51, 51);
font-family: 'Inter-Bold';
font-size: 30px;
font-weight: 700;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a {
    text-decoration: none;
    color: rgb(88, 88, 88);
    font-family: 'Inter-Medium'; 
font-size: 24px;
font-weight: 500;
}

.footer-logo img {
    margin-top: 50px;
    
    width: 526px;
    height: 309px;
}

.footer-section p {
    margin: 0;
    color: rgb(51, 51, 51);
    font-family: "Inter-Regular";
font-size: 24px;
font-weight: 400;
}

.fot_title {
    padding-top: 100px;
}

#amount {
    width: 30px;
    background: transparent;
    border: none; 
    font-family: "Inter-Regular";
    font-size: 19px;
    font-weight: 400;
    line-height: 23px;
    color: #efefef;
    text-align: center;  
}
#amount:focus {
    color: #EFEFEF;
    outline: none;
}

#btn {
    width: 20px;
    height: 20px;
    padding-bottom: 25px;
    border-radius: 5px;
    background-color: rgba(192, 192, 192, 0.171);
    border: none; 
    font-family: "Inter-Regular";
    font-size: 19px;
    font-weight: 400;
    line-height: 23px;
    color: #efefef;
    text-align: center;  
}

.main_plusminus {
    margin-right: 100px;
}

.dropdown {
    display: none;
    top: 80px;
    position: absolute;
    background-color: #f9f9f9;
    color: rgba(0, 0, 0, 1);
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #f1f1f1;
}

.dropdown.show {
    display: block;
}

html {
    scroll-behavior: smooth;
}

