* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter";
}

html {
    max-width: 1920px;
    overflow-x: hidden;
}

a {
    color: #000;
    text-decoration: none;
}

.container {
    display: block;

    width: 1200px;
    margin: 0 auto;
}

h1,h2,h3,h4,h5,h6,p {
    color: #fff;
    text-align: center;
}

body {
    background: rgb(226, 226, 226);
}

@font-face {
    font-family: 'Inter-Bold';
    src: local('Inter-Bold'),
    url(fonts/Inter-Bold.woff);
}

@font-face {
    font-family: 'Inter-Italic';
    src: local('Inter-Bold'),
    url(fonts/Inter-BoldItalic.woff);
}

@font-face {
    font-family: 'Inter-Italic';
    src: local('Inter-Bold'),
    url(fonts/Inter-LightItalic.woff);
}

@font-face {
    font-family: 'Inter-Regular';
    src: local('Inter-Bold'),
    url(fonts/Inter-Regular.woff);
}

@font-face {
    font-family: 'Inter-Medium';
    src: local('Inter-Bold'),
    url(fonts/Inter-Medium.woff);
}

nav {
    display: flex;
    justify-content: space-between;
    width: 1920px;
    height: 128px;
    background-color: #E3E3E3;
}

.nav_logo {
    width: 146px;
    height: 86px;
    margin: 21px 100px;
}

.nav_bar {
    margin-top: 50px;
    font-size: 23px;
    font-family: "Inter-Regular";
    color: #333333;
}

.nav_links {
    margin-right: 35px;

    font-family: "Inter-Regular";
}

.nav_numbers {
    margin-top: 28px;
}

.nav_number {
    margin-right: 100px;
    font-size: 28px;
    font-weight: 500;
    font-family: "Inter-Regular";
    color: #333333;
}

.nav_number_one {
    margin-top: 11px;
    margin-right: 100px;
    font-size: 23px;
    font-style: italic;
    font-weight: lighter;
    font-family: "Inter-Italic";
    color: #333333;
}

.main {
    width: 1920px;
    height: 655px;
    background-image: url(img/unsplash_xOigCUcFdA8.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.main_color {
    width: 1920px;
    height: 655px;
    background-color: rgba(0, 0, 0, 0.5);

}

.main_text {
    opacity: 1;
    color: #EFEFEF;

}

.main_title {
    font-family: "Inter-Regular";
    padding-top: 123px;
    padding-bottom: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 96px;
    color: #efefef;
}

.main_categories {
    position: static;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    border-radius: 20px;
    width: 623px;
    height: 74px;
    backdrop-filter: blur(5px);
    background: rgba(193, 193, 193, 0.15);
}
.main_category {
    margin: 20px 9px;
    font-family: "Inter-Regular";
    font-weight: 200;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.main_category.active {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.main_choice {
    margin-top: 15px;
    padding: 0 18px;
    display: flex;
    justify-content: space-between;
    margin: 15px 307px;
    border-radius: 20px;
    width: 1306px;
    height: 95px;
    backdrop-filter: blur(5px);
    background: rgba(193, 193, 193, 0.15);
}

.main_search, .main_calendar, .main_quantity {
    width: 30%;
    display: flex;
    justify-content: space-between;
    margin-top: 33px;
    font-family: "Inter-Regular";
    font-size: 19px;
    font-weight: 400;
    line-height: 23px;
}

.main_quantity p {
    font-family: "Inter-Regular";
}

.main_counters {
    display: flex;
    align-items: center;
}

.main_counter {
    font-size: 19px;
    font-weight: bold;
    cursor: pointer;
}

#datepicker-container {
    position: absolute;
    z-index: 1000;
    display: none;
}

.hidden {
    display: none;
}

.main_quantity p {
    font-family: "Inter-Regular";
}

.main_img {
    width: 29px;
    height: 29px;

}


.main_input {
    margin: 0 200px 0 25px;
    width: 151px;
    height: 23px;
    background: transparent;
    border: none;
    font-family: "Inter-Regular";
    font-size: 19px;
    font-weight: 400;
    line-height: 23px;
    color: #efefef;
}

.main_input:focus {
    color: #EFEFEF;
    outline: none;
}


.main_line {
    border: 1px solid rgba(215, 215, 215, 0.3);
    backdrop-filter: blur(20px);
    height: 46;
}

.main_counters {
    width: 30%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.main_counter {
    color: rgba(255, 255, 255, 0.3);;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 4px;
    backdrop-filter: blur(3px);
    background: rgba(255, 255, 255, 0.3);
}

.main_btn {
    margin: 0 829px;
    position: absolute;
    width: 262px;
    height: 66px;
    border-radius: 20px;
    background: rgba(92, 92, 92, 0.7);
    text-align: center;
    padding: 18px 0;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 25.92px;
    font-weight: 700;
    line-height: 31px;
}

.main_btn:hover {
    background: rgba(192, 192, 192, 0.7);
    transition: all 0.3s;
}

footer {
    background-color: #d1d5db;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1719px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-section {
    padding-bottom: 200px;
    text-align: left;
}

.footer-section h3 {

    margin: 0 0 10px;
    color: rgb(51, 51, 51);
    font-family: 'Inter-Bold';
    font-size: 30px;
    font-weight: 700;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a {
    text-decoration: none;
    color: rgb(88, 88, 88);
    font-family: 'Inter-Medium';
    font-size: 24px;
    font-weight: 500;
}

.footer-logo img {
    margin-top: 50px;

    width: 526px;
    height: 309px;
}

.footer-section p {
    margin: 0;
    color: rgb(51, 51, 51);
    font-family: "Inter-Regular";
    font-size: 24px;
    font-weight: 400;
}

.fot_title {
    padding-top: 100px;
}

#amount {
    width: 30px;
    background: transparent;
    border: none;
    font-family: "Inter-Regular";
    font-size: 19px;
    font-weight: 400;
    line-height: 23px;
    color: #efefef;
    text-align: center;
}
#amount:focus {
    color: #EFEFEF;
    outline: none;
}

#btn {
    width: 20px;
    height: 20px;
    padding-bottom: 25px;
    border-radius: 5px;
    background-color: rgba(192, 192, 192, 0.171);
    border: none;
    font-family: "Inter-Regular";
    font-size: 19px;
    font-weight: 400;
    line-height: 23px;
    color: #efefef;
    text-align: center;
}

.main_plusminus {
    margin-right: 100px;
}

html {
    scroll-behavior: smooth;
}

.route {
    display: flex;
    flex-wrap: wrap;
    font-family: "Inter-Regular";
}

.route_course {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 80px;
    padding: 35px;
    width: 498px;
    height: 430px;
    box-sizing: border-box;
    border: 5px solid rgb(215, 215, 215);
    border-radius: 50px;
    background: rgb(250, 250, 250);
}

.diration {
    width: 360px;
    height: 72px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 2px solid rgb(215, 215, 215);
    background: transparent;
    border: none;
    font-family: "Inter-Regular";
    font-size: 19px;
    font-weight: 400;
    line-height: 23px;
    color: #efefef;
    p{
        text-align: left;
        margin-bottom: 15px;
        color: rgb(0, 0, 0);
        font-family: "Inter-Bold";
        font-size: 20px;
        font-weight: 500;
    }
    .diration_input {
        display: flex;
        justify-content: space-between;
    }
    input{
        min-width: 209px;
        background: transparent;
        border: none;
        font-family: "Inter-Regular";
        font-size: 19px;
        font-weight: 400;
        line-height: 23px;
        color: #efefef;
    }
}

.diration_input {
    input {
        color: #000;
        outline: none;
    }

}

.prici {
    margin-bottom: 20px;
    input {
        min-width: 200px;
        background: transparent;
        border: none;
        font-family: "Inter-Regular";
        font-size: 19px;
        font-weight: 400;
        line-height: 23px;
        color: #efefef;
    }
    input:focus {
        color: #000;
        outline: none;
    }
}

.prici_price {
    display: flex;
    justify-content: space-between;
    margin: 35px 0 15px 0;
    p{
        color: rgb(0, 0, 0);
        font-family: "Inter-Bold";
        font-size: 20px;
        font-weight: 300;
    }
    a {
        padding: 0 21px;
        color: rgb(241, 241, 241);
        font-family: Inter;
        font-size: 20px;
        font-weight: 500;
        box-sizing: border-box;
        border: 1px solid rgb(215, 215, 215);
        border-radius: 30px;
        background: rgb(186, 186, 186);
    }
}

.complexity {
    p{
        margin-top: 35px;
        text-align: left;
        color: rgb(0, 0, 0);
        font-family: "Inter-Bold";
        font-size: 20px;
        font-weight: 500;
    }
    .cotegories {
        display: flex;
        justify-content: space-between;
        padding: 16px;
        text-align: center;
        margin: 20px 9px;
        color: rgb(0, 0, 0);
        font-family: "Inter-Regular";
        font-size: 20px;
        font-weight: 400;
        color: #fff;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease;
        box-sizing: border-box;
        border: 1.44px solid rgb(215, 215, 215);
        border-radius: 15px;

    }
    .cotegories:hover {
        color: rgba(255, 255, 255, 0.2);
        border-radius: 15px;
    }
}




code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nft{
    margin-bottom: 50px;
    max-width: 589px;
    margin: 5rem auto;
    box-sizing: border-box;
    border: 5px solid rgb(215, 215, 215);
    border-radius: 50px;
    background: rgb(250, 250, 250);

    h2{
        text-align: left;
        color: rgb(31, 31, 31);
        font-family: "Inter-Bold";
        font-size: 30px;
        font-weight: 700;
    }
    hr{
        width: 100%;
        border: none;
        border-bottom: 1px solid #88888855;
        margin-top: 0;
    }
    ins{
        text-decoration: none;
    }
    .maen{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 1rem;

        .tokenImage{
            border-radius: 30px;
            width: 100%;
            height: 250px;
            object-fit: cover;
            margin: 0 auto;
        }
        .description{
            text-align: left;
            margin: .5rem 0;
            color: rgb(0, 0, 0);
            font-family: "Inter-Regular";
            font-size: 24px;
            font-weight: 400;
        }
        .tokenInfo{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .price{
                display: flex;
                align-items: center;
                color: #ee83e5;
                font-weight: 700;
                s{
                    margin-left: 33px;
                    margin-right: .5rem;
                    color: rgb(140, 140, 140);
                    font-family: "Inter-Regular";
                    font-size: 30px;
                    font-weight: 400;
                }
                p{
                    margin-left: 10px;
                    color: rgb(31, 31, 31);
                    font-family: "Inter-Regular";
                    font-size: 40px;
                    font-weight: 400;
                }
            }
            .duration{
                display: flex;
                align-items: center;
                color: #a89ec9;
                margin-right: .2rem;
                p{
                    margin: .5rem;
                    margin-bottom: .4rem;
                    color: rgb(140, 140, 140);
                    font-family: "Inter-Regular";
                    font-size: 30px;
                    font-weight: 400;
                }
            }
        }
        .creator{
            display: flex;
            align-items: center;
            margin-top: .2rem;
            margin-bottom: -.3rem;

            a{
                margin-left: 120px;
                margin-top: 38px;
                margin-bottom: 40px;
                padding: 14px 21px;
                color: rgb(250, 250, 250);
                font-family: Inter;
                font-size: 26px;
                font-weight: 500;
                box-sizing: border-box;
                border: 2px solid rgb(199, 199, 199);
                border-radius: 20px;
                background: rgb(171, 171, 171);
            }
            .wrapper{
                display: flex;
                align-items: center;
                border: 1px solid #ffffff22;
                padding: .3rem;
                margin: 0;
                margin-right: .5rem;
                border-radius: 100%;
                box-shadow: inset 0 0 0 4px #000000aa;
                img{
                    border-radius: 100%;
                    border: 1px solid #ffffff22;
                    width: 2rem;
                    height: 2rem;
                    object-fit: cover;
                    margin: 0;
                }
            }
        }
    }

    .creator_data{
        margin-left: 35px;
        margin-top: 8px;
        padding: 5px 25px;
        text-decoration: none;
        color: rgb(199, 199, 199);
        font-family: "Inter-Regular";
        font-size: 24px;
        font-weight: 700;
        box-sizing: border-box;
        border: 2px solid rgb(199, 199, 199);
        border-radius: 5px;
    }

    .bg{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        h1{
            font-size: 20rem;
            filter: opacity(0.5);
        }
    }
}

#min {
    font-family: "Inter-Bold";
    
  }
  #okno {
    

    display: none;
    position: absolute;
    text-align: right;
    top: 850px;
    left: 400px;
    width: 837px;
    min-height: 1198px;
    box-sizing: border-box;
    border: 5.25px solid rgb(215, 215, 215);
    border-radius: 52.48px;
    background: rgb(250, 250, 250);
    z-index: 2;


}
#okno {


    p {
        position: absolute;
        margin-left: 690px;
        border: none;
        font-size: 40px;
        font-weight: 100;
        color: rgb(73, 73, 73);
    }
    img {
        width: 100%;
    }
}

.okno_title {
    width: 750px;
    right: 70px;
    border: none;
    text-align: left;
    color: rgb(31, 31, 31);
    font-family: "Inter-Bold";
    font-size: 31.49px;
    font-weight: 700;
}
#min:target {display: block;}

.okno_subtitle {
    margin-top: 20px;
    display: flex;
    height: 35%;

    p {
        width: 50%;
        height: 10%;
        margin-right: 20px;
        text-align: left;
        color: rgb(0, 0, 0);
        font-family: "Inter-Bold";
        font-size: 17.18px;
        font-weight: 400;
    }
}

.okno_items {
    .okno_item {
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;
        input {
            margin-bottom: 5px;
            padding: 25px;
            width: 360px;
            height: 72px;
            box-sizing: border-box;
            border: 2px solid rgb(215, 215, 215);
            border-radius: 10px;
        }
    }
}

.okno_services {
    width: 100%;
    height: 60%;
    p {
        padding-bottom: 20px;
        margin: 0 auto;
        width: 100%;
        color: rgb(150, 150, 150);
        font-family: "Inter-Bold";
        font-size: 17px;
        font-weight: 700;
    }

    .okno_list {

        text-align: left;
        color: rgb(150, 150, 150);
        font-family: "Inter-Regular";
        font-size: 17px;
        font-weight: 400;

        li {
            margin-bottom: 8px;

            .okno_check {
                margin-right: 14px;
            }
        }
    }
}

.okno_footer {
    h3 {
        color: rgb(31, 31, 31);
        font-family: "Inter-Regular";
        font-size: 55px;
        font-weight: 400;
    }

    button {
        margin-right: 150px;
        padding: 11px 150px;
        box-sizing: border-box;
        border: 2.1px solid rgb(199, 199, 199);
        border-radius: 20.99px;
        background: rgb(171, 171, 171);
        color: rgb(250, 250, 250);
        font-family: "Inter-Bold";
        font-size: 32.46px;
        font-weight: 500;
        margin-bottom: 25px;
    }

    p {

        margin: 0 auto;
        width: 332px;
        color: rgb(199, 199, 199);
        font-family: "Inter-Regular";
        font-size: 27px;
        font-weight: 700;
        border: 2.1px solid rgb(199, 199, 199);
        border-radius: 12px;
    }
}

.cmt {
 font-family: "Inter-Bold";
    
  }
  #okno {
    
    p {
        position: absolute;
        margin-left: 690px;
        border: none;
        font-size: 40px;
        font-weight: 100;
        color: rgb(73, 73, 73);
    }
    img {
        width: 100%;
    }
  }
  
  .okno_title {
    width: 750px;
    right: 70px;
    border: none;
    text-align: left;
    color: rgb(31, 31, 31);
    font-family: "Inter-Bold";
    font-size: 31.49px;
    font-weight: 700;
}


.okno_subtitle {
    margin-top: 20px;
    display: flex;
    height: 35%;
    
    p {
        width: 50%;
        height: 10%;
        margin-right: 20px;
        text-align: left;
        color: rgb(0, 0, 0);
        font-family: "Inter-Bold";
        font-size: 17.18px;
        font-weight: 400;
    }
}

.okno_items {
    .okno_item {
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;
        input {
            margin-bottom: 5px;
            padding: 25px;
            width: 360px;
            height: 72px;
            box-sizing: border-box;
            border: 2px solid rgb(215, 215, 215);
            border-radius: 10px;
            color: rgb(150, 150, 150);
            font-family: 'Inter-Regular';
            font-size: 17px;
            font-weight: 400;
        }
    }
} 
  
.okno_services {
        width: 100%;
        height: 60%;
    p {
        padding-bottom: 20px;
        margin: 0 auto;
        width: 100%;
        color: rgb(150, 150, 150);
        font-family: "Inter-Bold";
        font-size: 17px;
        font-weight: 700;
    }
    
    .okno_list {
        
        text-align: left;
        color: rgb(150, 150, 150);
        font-family: "Inter-Regular";
        font-size: 17px;
        font-weight: 400;

        li {
            margin-bottom: 8px;

            .okno_check {
                margin-right: 14px;
            }
        }
    }
}

.okno_footer {
    h3 {
        color: rgb(31, 31, 31);
        font-family: "Inter-Regular";
        font-size: 55px;
        font-weight: 400;
    }

    button {
        margin-right: 10px;
        padding: 11px 150px;
        box-sizing: border-box;
        border: 2.1px solid rgb(199, 199, 199);
        border-radius: 20.99px;
        background: rgb(171, 171, 171);
        color: rgb(250, 250, 250);
        font-family: "Inter-Bold";
        font-size: 32.46px;
        font-weight: 500;
        margin-bottom: 25px;
        cursor: pointer;
    }

    button:hover 
    {
        background: rgb(226, 226, 226);
        transition: all 0.3s;
    }

    p {
        
        margin: 0 auto;
        width: 332px;
        color: rgb(199, 199, 199);
        font-family: "Inter-Regular";
        font-size: 27px;
        font-weight: 700;
        border: 2.1px solid rgb(199, 199, 199);
        border-radius: 12px;
    }
} 

/* Контейнер для кнопки, чтобы не прыгал контент, когда она сменит позиционирование */
.css-modal-details {
    height: 60px;
    display:flex;
    align-items:center;
    justify-content:center;
}
 
/* Кнопка для открытия */
.css-modal-details summary {
    display: inline-flex;
    margin: 10px;
    margin-left: 90px;
    text-decoration: none;
    position: relative;
    font-size: 20px;
    line-height: 20px;
    padding: 12px 30px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Inter-Bold';
    
    cursor: pointer;
    
    overflow: hidden;
    z-index: 1;    
    box-sizing: border-box;
    border: 2px solid rgb(199, 199, 199);
    border-radius: 20px;
    background: rgb(171, 171, 171);
}
.css-modal-details summary:hover,
.css-modal-details summary:active,
.css-modal-details summary:focus {
    color: #FFF;
}
.css-modal-details summary:before {
    content: '';
    position: absolute;
    top: 0;
    right: -50px;
    bottom: 0;
    left: 0;
    border-right: 50px solid transparent;
    border-top: 50px solid #868686;
    transition: transform 0.5s;
    transform: translateX(-100%);
    z-index: -1;
}
.css-modal-details summary:hover:before,
.css-modal-details summary:active:before,
.css-modal-details summary:focus:before {
    transform: translateX(0);
}
 
/* Кнопка при открытом окне переходит на весь экран */
.css-modal-details details[open] summary {
    cursor: default;
    opacity: 0;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
}
 
/* Контейнер, который затемняет страницу */
.css-modal-details details .cmc {
    display:flex;
    align-items:center;
    justify-content:center;    
}
.css-modal-details details[open] .cmc {
    pointer-events: none;
    z-index: 4;
    
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    animation: bg 0.5s ease;
    
}
 
/* Модальное окно */
.css-modal-details details .cmt {
    position: absolute;
    right: 1000px;
    text-align: right;
  
    width: 837px;
    min-height: 1198px;
    box-sizing: border-box;
    border: 5.25px solid rgb(215, 215, 215);
    border-radius: 85px 85px 52.48px 52.48px;
    background: rgb(250, 250, 250);

   

   
    transition: 0.5s;
    
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
    text-align: center;
    overflow: auto;
}
.css-modal-details details[open] .cmt {
    animation: scale 0.5s ease;
    z-index: 4;
    pointer-events: auto;
}
 


#modal {
    left: 0;
}

#mis {
    display: none;
    position: absolute;
    text-align: right;
    top: 850px;
    left: 400px;
    width: 837px;
    min-height: 1198px;
    box-sizing: border-box;
    border: 5.25px solid rgb(215, 215, 215);
    border-radius: 52.48px;
    background: rgb(250, 250, 250);
    z-index: 2;
}

